@font-face {
  font-family: 'YEONGJUPunggiGinsengTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/YEONGJUPunggiGinsengTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeferiPoint-BlackA';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
ul,a{
  list-style: none;
}
a{
  text-decoration: none !important;
  color: #fff !important;
}
.App {
  /* background-color: black; */
  color: #fff;
  font-family: 'YEONGJUPunggiGinsengTTF', Arial, sans-serif;
  
}

body{
  padding-top: 72px;
  margin-bottom: 1000px;
  background-color: black !important;
}
.topNav{
  color: #fff;
  text-align: center;
  border-bottom: 1px solid rgb(64, 64, 64);
  /* line-height:  */
  background-color: rgb(33, 37, 41);
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  top: 0;
  height: 72px;
  justify-content: space-between;
  z-index: 9999999;
}
.botNav{
  color: #fff;
  text-align: center;
  border-top: 1px solid rgb(64, 64, 64);
  /* line-height:  */
  background-color: rgb(33, 37, 41);
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 72px;
  display: none !important;
  z-index: 9999999;
}

.leftNavBar{
  width: 10em;
  height: 100%;
  border-right: 1px solid rgb(64, 64, 64);
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0;
  text-align: center;
  background-color: rgb(33, 37, 41);
  box-sizing: border-box;
  position: fixed;
  display: inline-block;
}
.leftNavBar a:hover{
  color: #5d5d5d !important;
}
.bottomNavBar{
  position: fixed;
  bottom: 0;
  background-color: red;
}
.logo-img{
  width: 10em;
}
.container-sec{
  display: flex;
}
.movie-container{
  background-color: #fff;
  margin: 1em;
  display: grid;
  height: auto;
}
.hrLine{
  width: 80%;
  border: 1px solid rgb(64, 64, 64);
  margin: 10px auto;
}


.Page{
  box-sizing: border-box;
  width: calc(100% - 9em);
  /* width: 100%; */
  position: absolute;
  right: 0;
  padding-bottom: 80px;
}


.alert-box{
  font-family: 'LeferiPoint-BlackA';
  width: 90%;
  font-size: 10px;
  position: fixed !important;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
}
.join-form,
.login-form{
  max-width: 500px;
  max-width: 350px;
  font-family: 'LeferiPoint-BlackA';
  padding: 3rem;
  margin: 0 auto;
  transform: translateY(25%);
  font-weight: 400;
  /* border: 1px solid red; */
  background: 
  linear-gradient(to right, white 4px, transparent 4px) 0 0,
  linear-gradient(to right, white 4px, transparent 4px) 0 100%,
  linear-gradient(to left, white 4px, transparent 4px) 100% 0,
  linear-gradient(to left, white 4px, transparent 4px) 100% 100%,
  linear-gradient(to bottom, white 4px, transparent 4px) 0 0,
  linear-gradient(to bottom, white 4px, transparent 4px) 100% 0,
  linear-gradient(to top, white 4px, transparent 4px) 0 100%,
  linear-gradient(to top, white 4px, transparent 4px) 100% 100%;
  
  background-repeat: no-repeat;
  background-size: 20px 20px;
}
.login-form{transform: translateY(50%);}
.join-form input,
.login-form input{
  width: 22em;
  height: 3.5em;
  font-size: 13px;
  caret-color: rgb(255, 4, 88);
  background-color: #191a1c;
  color: #fff;
}
.join-form input:focus,
.login-form input:focus{
  background-color: #191a1c;
  color: #fff;
}
.join-form input::placeholder,
.login-form input::placeholder{
  color: gray;
  font-size: 0.9em;
}
.form-check-label{
  font-size: 16px;
}
.form-check input{
  width: 1em;
  height: 1em;
}
/* .mobile-margin-bottom{
  padding-bottom: 1000px;
} */

/* 콘텐츠 CSS */
.movie-card{
  width: 16rem;
  border: none;
  background-color: transparent !important;

  position: relative;

    box-sizing: border-box;

}
.movie-card img{
  border-radius: 0 !important;
  box-sizing: border-box;

}
.card-body{
  font-family: 'LeferiPoint-BlackA';
  
  font-size: 16px;
  margin: 0;
  text-align: end;
  background-color: transparent;
  
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 !important;

  box-sizing: border-box;
}
.card-title{
  font-family: 'LeferiPoint-BlackA' !important;
  font-size: 16px !important;
  margin: 0 !important;
  color: #fff !important;
  font-weight: 100 !important;
  /* -webkit-text-stroke: 0.5px black; */
}
.movie-card {
  width: 100%; /* 카드는 열의 너비를 따라가도록 설정 */
  margin-bottom: 1rem; /* 각 카드 간의 여백 추가 */
}
.movie-card:hover {
  cursor: pointer;
  scale: 1.2;
  transition: all 0.5s;
}
.movie-card:hover img{
  /* scale: 1.2;
  transition: all 0.5s; */
}
.card-img {
  height: auto; /* 이미지의 높이를 자동으로 설정하여 비율 유지 */
  max-height: 200px; /* 이미지의 최대 높이 설정 */
  object-fit: cover; /* 이미지가 카드 크기에 맞게 잘리도록 설정 */
}

.modal-content{
  background-color: #222326 !important;
  color: #fff !important;
}

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  height: 7vh;
}

.search-icon {
  position: absolute;
  left: 10px;
  color: #aaa;
  font-size: 1.4em;
}

.search-input {
  padding-left: 3rem; /* 아이콘의 넓이만큼 왼쪽 여백 추가 */
  height: 100%;
  font-size: 1.4rem;
  width: 100%;
  box-sizing: border-box;
  border-radius: 15px;
  border: 1px solid black;
  background-color: #222326;
  outline: none;
  caret-color:red;
  color:#fff;
}




@media (max-width: 576px) {
  .movie-card {
    width: 100%; /* 작은 화면에서는 카드 너비를 100%로 설정 */
  }
}
@media (max-width: 767px) {
  .Page{
    width: calc(100% - 2em);
  }
  .alert-box{
    bottom: 70px;
  }
  .navLinks {
    display: none !important;
  }
  .topNav {
    background-color: black;
  }
  .botNav{
    background-color: black;
    
  }
  .hidden{
    display: none !important;
  }
  .mobile_btn{
    
  }
}
@media (max-width: 768px) {
  
}

@media (min-width: 768px) {
  .movie-card {
    width: 100%; /* 중간 크기 이상의 화면에서도 카드 너비를 100%로 설정 */
  }
}

@media (min-width: 992px) {
  .movie-card {
    width: 100%; /* 큰 화면에서도 카드 너비를 100%로 설정 */
  }
}

@media (min-width: 1200px) {
  .movie-card {
    width: 100%; /* 매우 큰 화면에서도 카드 너비를 100%로 설정 */
    
  }
}

/* 예고편 랜덤 */